@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Golos";
  font-display: swap;
  src:
      url("../fonts/GolosText-Regular.woff2") format("woff2"),
      url("../fonts/GolosText-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Golos";
  font-display: swap;
  src:
      url("../fonts/GolosText-Medium.woff2") format("woff2"),
      url("../fonts/GolosText-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Golos";
  font-display: swap;
  src:
      url("../fonts/GolosText-DemiBold.woff2") format("woff2"),
      url("../fonts/GolosText-DemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Golos";
  font-display: swap;
  src:
      url("../fonts/GolosText-Bold.woff2") format("woff2"),
      url("../fonts/GolosText-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Golos";
  font-display: swap;
  src:
      url("../fonts/GolosText-Black.woff2") format("woff2"),
      url("../fonts/GolosText-Black.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src:
      url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";
  font-display: swap;
  src:
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "DroidSans";
  font-display: swap;
  src:
      url("../fonts/DroidSansMono.woff2") format("woff2"),
      url("../fonts/DroidSansMono.woff") format("woff");
}

body {
  font-family: 'Golos', sans-serif;
  @apply text-black bg-[#fafafa];
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

#sliderVacancies .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#reviewsSlider .swiper-pagination {
  color: #ffffff !important;
}

#reviewsSlider .swiper-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0F1214;
  opacity: 0.7;
}

#reviewsSlider .swiper-slide-active::before,
#reviewsSlider .swiper-slide-active + .swiper-slide::before,
#reviewsSlider .swiper-slide-active + .swiper-slide + .swiper-slide::before,
#reviewsSlider .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide::before {
  display: none;
}